# Python Tutorial

In [1]:
#First python program
print("Hello ")

Hello

In [2]:
#concatenation
a='My '
b="name "
c="is"
d="Saphal Dhakal"
print(a+b+c,d)

My name is Saphal Dhakal

In [3]:
#fahrenheit to centigrade
degreeF=float(input('enter temperature in Fahrenheit: '))
degreeC=(degreeF-32)*5/9
print(degreeF,'F = ',degreeC, 'C')

enter temperature in Fahrenheit: 98
98.0 F =  36.666666666666664 C

In [4]:
#no need to provide data type
a=2
b=4
c=a+b
print(c)
print(a+b)

6
6

In [5]:
#if, else if
num=int(input("enter an integer: "))
if num>0:
    print(num, " is positive number.")
elif num<0:
    print(num, " is negative.")
else:
    print(num, " is neither positive nor negative.")

enter an integer: 12
12  is positive number.

In [6]:
income = int(input("Enter your income : "))
if income<=250000:
    tax=0
elif income<=500000:
    tax=0.05*(income-250000)
elif income<=750000:
    tax=0.1*(income-500000)+12500
elif income<=1000000:
    tax=0.15*(income-750000)+37500
elif income<=1250000:
    tax=0.2*(income-1000000)+75000
elif income<=1500000:
    tax=0.25*(income-1250000)+125000
else:
    tax=0.3*(income-1500000)+187500
print("Tax for income of ", income, " is ", tax)

Enter your income : 120000
Tax for income of  120000  is  0

In [7]:
#for loop
fruits=['Apple','Banana','Mango','Orange','Pear']
for i in fruits:
    print(i,end=(' '))
print('\n')
a="Apple"
for i in a:
    print(i,end=(' '))

Apple Banana Mango Orange Pear

A p p l e

In [8]:
#range
#multiplication table
num=int(input("Enter a number for multiplication table: "))
for i in range(1,11):
    print(num,' * ',i, " = " , num*i)

Enter a number for multiplication table: 21
21  *  1  =  21
21  *  2  =  42
21  *  3  =  63
21  *  4  =  84
21  *  5  =  105
21  *  6  =  126
21  *  7  =  147
21  *  8  =  168
21  *  9  =  189
21  *  10  =  210

In [9]:
#sum and average of first n natural number
num = int(input("Enter a number: "))
sum=0
for i in range(1,num+1):
    sum+=i
print('Sum of first ',num, ' natural number is ',sum)
average=1
average=sum/num
print('Average of first ',num, ' natural number is ',average)

Enter a number: 3
Sum of first  3  natural number is  6
Average of first  3  natural number is  2.0

In [10]:
num=[150,250,180,560,200]
for i in num:
    if i>500:
        break
    elif i<150:
        continue
    elif i%5==0:
        print("hello")
    
    else:
        print("HI")
    print(i)

hello
150
hello
250
hello
180

In [11]:
for i in range(6):
    print(i)
else:
    print("Number printed successfully")

0
1
2
3
4
5
Number printed successfully

In [12]:
# nested loop
num_list=[1,2,3]
alpha_list=['a','b','c']
for num in num_list:
    print(num)
    for alpha in alpha_list:
        print(alpha)

1
a
b
c
2
a
b
c
3
a
b
c

In [13]:
# nested loop
sum=0
print('Number divisible by 5 are')
for i in range(5,101,5):
        print(i)
        sum+=i
print('sum  is ',sum)

Number divisible by 5 are
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
sum  is  1050

In [14]:
# list
alist=[]
print(alist)
myList=[0,1,2,3,4,'mango']
print(myList[:])
print(myList[1:])
print(myList[:5])
print(myList[2:4])

[]
[0, 1, 2, 3, 4, 'mango']
[1, 2, 3, 4, 'mango']
[0, 1, 2, 3, 4]
[2, 3]

In [15]:
myString='Hello from Dursikshya'
print(myString[0:4])
print(myString[3:8])
print(myString[-3:-1])
print(myString[-1:-5])
print(myString[-5:-3])
print(myString[1:-3])
print(myString[-3:5])
print(myString[-20:20])

Hell
lo fr
hy

ks
ello from Dursiks

ello from Dursikshy

In [16]:
#append
list=[1,2,3,4,5]
print(list)
print(list[:])
list.append(6)
list.append(2)
print(list)

#remove
list.remove(2)
list.remove(2)
print(list)
list.remove(list[3])
print(list)
list.remove(list[3])
print(list)
del(list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 2]
[1, 3, 4, 5, 6]
[1, 3, 4, 6]
[1, 3, 4]

In [17]:
list=[1,2,3]
print(list)
del(list[1])
print(list)
del(list)
print(list)

[1, 2, 3]
[1, 3]
<class 'list'>

In [18]:
#touple with single element
t=(5,)
print(t)

(5,)

In [19]:
#touple
toup1=(2,3)
toup2=('a','b')
print(toup1+toup2)
print(toup1*3)

(2, 3, 'a', 'b')
(2, 3, 2, 3, 2, 3)

In [22]:
toup1=(2,3)
toup2=('a','b')
print(toup1+toup2)
print(toup1*3)
del toup1
print(toup1)

(2, 3, 'a', 'b')
(2, 3, 2, 3, 2, 3)

NameError: name 'toup1' is not defined

In [23]:
toup=('a','p','p','l','e')
print(toup.count('p'))
print(toup.index('p'))
print(toup.index('l'))
print('a' in toup)
print('A' in toup)
print('s' in toup)
print('a' not in toup)

2
1
3
True
False
False
False

In [24]:
#dict
square={1:1,2:4,3:9,4:16}
print(square)

{1: 1, 2: 4, 3: 9, 4: 16}

In [25]:
print(square.pop(4))

16

In [26]:
print(square)

{1: 1, 2: 4, 3: 9}

In [27]:
print(square.popitem())

(3, 9)

In [28]:
print(square)

{1: 1, 2: 4}

In [29]:
del square[1]

In [30]:
print(square)

{2: 4}

In [31]:
square.clear()

In [32]:
print(square)

{}

In [33]:
del square

In [34]:
print(square)

NameError: name 'square' is not defined

In [35]:
#function
def my_func():
    print("Starting with function")
    
    
my_func()

Starting with function

In [36]:


def assign(fname,lname):
    print(fname,lname)
    
    
assign("ram","jii")

ram jii

In [37]:
#task
def multiply(a,b):
    print("the product is : ",a*b)
    
    
multiply(4,5)
multiply(3,60)

def div():
    q=21
    d=5
    r=q%d
    print('remainder is ',r)
    
div()

the product is :  20
the product is :  180
remainder is  1

In [38]:
first=int(input('Enter first number '))
second=int(input('Enter second number '))



def add(first,second):
    sum=first+second
    return sum


sum=add(first,second)
print('sum is ', sum)

Enter first number 12
Enter second number 23
sum is  35

In [39]:
# using method
#fahrenheit to celcius

degreeF=int(input("Enter degree in fahrenheit: "))



def convertToCelcius(degreeF):
    degreeC=(degreeF-32)*5/9
    return degreeC

degreeC=convertToCelcius(degreeF)
print(degreeF,'F = ',degreeC,'C')

Enter degree in fahrenheit: 35
35 F =  1.6666666666666667 C

In [40]:
#reverse
num=int(input("Enter a number: "))

output=0
def reverse(num):
    global output
    if(num>0):
        r=num%10
        
        output=(output*10)+r
        num=num//10
        reverse(num)
    return output


output=reverse(num)   
print(output)

Enter a number: 67
76

In [41]:
#reverse
num=int(input("Enter a number: "))

output=0
def reverse(num):
    global output
    if(num>0):
        r=num%10
        
        output=(output*10)+r
        num=num//10
        reverse(num)
    return output


output=reverse(num)   
print(output)

Enter a number: 234
432

In [42]:
#user choice for conversion
t=int(input("enter temperature: "))
choice=input("Choose 'c' for celcius to fah and 'f' for Fah to celcius : ")



def temprConversion(choice):
    if (choice=='c') or (choice=='C'):
        f=(t*9/5)+32
        print(t,choice.upper(),' = ', f,'F')
    elif choice.lower()=='f':
        c=(t-32)*5/9
        print(t,choice.upper(),' = ',c,'C')
    else:
        print("wrong choice")

temprConversion(choice)

enter temperature: 98
Choose 'c' for celcius to fah and 'f' for Fah to celcius : f
98 F  =  36.666666666666664 C

In [43]:
x=int(input("Enter Principle of Amount"))
y=int(input("Enter Time for amount"))
z=int(input("Enter rate for amount"))
I= x*y*z/100
print("The Simple interest of the amount is ", I)

Enter Principle of Amount1200
Enter Time for amount12
Enter rate for amount12
The Simple interest of the amount is  1728.0

In [44]:
my_dict = {1: 'saphal', 2:'ram', 3:'sita', 4:'shyam'}
print(my_dict)

{1: 'saphal', 2: 'ram', 3: 'sita', 4: 'shyam'}

In [45]:
def area():  #defining a fxn 
    print("The area of rectangle is",)
    
area() #calling a fxn

The area of rectangle is

In [46]:
#variable, parameter , argument -----
name =10   #variable
def assign(name):  #paraker7er
    print(name)   #non return type as printed inside
    
    
assign('jack')  # argument

jack

In [47]:
 def sum(first,second):
        print("the sum is ",first+second)
    

sum(20,25)

the sum is  45

In [48]:
def area():
    length = 3
    breadth = 4
    area = length * breadth
    print("The area of rectangle is ", area)
    
    
area()

The area of rectangle is  12

In [49]:
#returntype 
first = int(input("enter a number"))
second = int(input("enter a second number"))



def add(first,second):
    answer=first+second
    return answer


answer = add(first, second)
print(answer)

enter a number15
enter a second number16
31

In [50]:
fruits = ['apple','banana', 'mango']
names = ['saphal', 'roshan', 'rajnish']
for x in fruits:
    print(x)
    
    for y in names:
        print(y)

apple
saphal
roshan
rajnish
banana
saphal
roshan
rajnish
mango
saphal
roshan
rajnish

In [51]:
sum=0
for x in range(0, 105, 5):
    print(x)
    sum=sum+x
print(sum)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
1050

In [52]:
my_tuple = ('a','p','l','e','p')
print(my_tuple.count('p')) #count calls the no of values in the tuple
print(my_tuple.index('a'))  #index calls the position of vaues in tuple starting from 0,1,2,3,....
print('p' in my_tuple)  #tuple are case-sensitive
print('x' in my_tuple)

2
0
True
False